html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #555252;
    letter-spacing: -0.02em;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
}
/* menu section */
.menu-section {
    font-family: "Roboto", sans-serif;
    margin-top: 38px;
    margin-bottom: 104px;
}
.site-logo {
    float: left;
}
.site-navigation {
    float: right;
    font-size: 14px;
    line-height: 17px;
    list-style: none;
}
.site-navigation li {
    float: left;
}
.site-navigation li:not(:last-child) {
        margin-right: 32px;
}
.site-navigation a {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

/* section featured */
.featured {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}
h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    position: relative;
    padding-bottom: 40px;
}
h2::after {
    margin-top: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
}
.featured-title {
    margin-bottom: 92px;
}
.featured-list {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 105px;
}

.featured-list-item {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}
.featured-list-item:nth-child(4n) {
    margin-right: 0;
}
.featured-list-item:nth-last-child(-n+4) {
    margin-bottom: 0;
}
.featured-list-block {
    position: absolute;
    bottom: 0;

}
.featured-list-block p {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}
.featured-list-item:hover .featured-list-name {
    background-color: #1abc9c;
}
.featured-list-item:hover .featured-list-price {
    background-color: #7fd9c7;
}
.featured-list-image {
    background-color: #e9f0fd;
}
.featured-list-name {
    float: left;
    width: 200px;
    height: 40px;
    background-color: #323232;
    padding-top: 8px;
    padding-left: 13px;
}
.featured-list-price {
    float: right;
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
    text-align: center;
    padding-top: 8px;
}

/* section blog */
.blog-title {
    margin-bottom: 82px;
}
.blog-list {
    list-style: none;
    margin-bottom: 80px;
}
.blog-list-bog {
    float: left;
    margin-right: 30px;
    width: 350px;
}
.blog-list-bog:nth-child(3n) {
    margin-right: 0;
}
.blog-list-image {
    margin-bottom: 14px;
}
.blog-list-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 44px;
}
.blog-list-title::after {
    margin-top: 11px;
    display: block;
    width: 136px;
    height: 4px;
    background-color: #4ec6ab;
    content: '';
    position: absolute;
}
.blog-list-text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 14px;
}
button {
    display: block;
    max-width: 160px;
    padding: 18px 40px;
    font-weight: 300;
    font-size: 16px;
    border: none;
    color: #ffffff;
    background-color: #4ec6ab;
    cursor: pointer;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}